<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Franchise Detail</title>
    <link rel="stylesheet" href="/css/franchiseboard.css">
    <script type="text/javascript" src="/js/franchise/franchise.js" defer></script>
</head>
<body>
    <div class="franchise-detail">
        <h2 th:text="${franchise.franchiseTitle}">Franchise Title</h2>
        <div class="franchise-img">
            <img th:src="${franchise.franchiseImg}" alt="Franchise Image">
        </div>
        <div class="franchise-description">
            <p class="avg-sales" th:text="${franchise.franchiseAvgSales}">Franchise Average Sales</p>
            <p class="startup-cost" th:text="${franchise.franchiseStartupCost}+원">Franchise Startup Cost</p>
        </div>
    </div>
</body>
</html>
