<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korea.project.mapper.board.CommentMapper">

<!-- commnet 테이블 전체 컬럼 -->
<sql id="commentColumns">
	COMMENT_IDX,
	USER_IDX,
	BOARD_IDX,
	COMMENT_DEPTH,
	COMMENT_DEL,
	COMMENT_CONTENT,
	COMMENT_WRITE_DATE
</sql>


<!-- 댓글 저장  -->
<insert id="save" parameterType="com.korea.project.vo.board.CommentVO"  useGeneratedKeys="true" keyProperty="commentIdx">
	INSERT INTO COMMENT(
		 <include refid="commentColumns" />
	) VALUES (
		#{commentIdx},
		#{userIdx},
		#{boardIdx},
		#{commentDepth},
		0,
		#{commentContent},
		CURRENT_TIMESTAMP
	)
</insert>


<!-- 댓글 상세정보 조회-->
<select id="findById">
	SELECT
		<include refid="commentColumns" />
	FROM COMMENT
	WHERE COMMENT_IDX = #{commentIdx}
</select>


<!-- 댓글 수정 -->
<update id="update">
	UPDATE COMMENT
	SET COMMENT_CONTENT = #{commentContent}
	WHERE COMMENT_IDX = #{commentIdx}
</update>

<!-- 댓글 삭제 -->
<delete id="deleteById">
	UPDATE COMMENT
	SET COMMENT_DEL = -1
	WHERE COMMENT_IDX = #{commentIdx}
</delete>

<!-- 댓글 리스트 조회 -->
<select id="findAll">
	SELECT
	 	COMMENT_IDX,
	 	C.USER_IDX,
		USER_NICKNAME,
		BOARD_IDX,
		COMMENT_DEPTH,
		COMMENT_DEL,
		COMMENT_CONTENT,
		COMMENT_WRITE_DATE
	FROM COMMENT C
	JOIN `USER` U ON C.USER_IDX = U.USER_IDX
	WHERE COMMENT_DEL = 0
		AND BOARD_IDX = #{boardIdx}
		
	ORDER BY COMMENT_IDX DESC
</select>


</mapper>