<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/board/register}" th:object="${vo}" method="post">
	<!-- 제목, 카테고리 대 중 소분류, 게시글내용, 작성하기버튼, 취소하기 버튼  -->
		<div>
			<input th:field="*{boardTitle}" placeholder="게시글 제목을 작성하세요.">
		</div>
		<div>
			<input th:field="*{boardSectors}" placeholder="대분류">
		</div>
		<div>
			<input th:field="*{boardBigArea}" placeholder="중분류">
		</div>
		<div>
			<input th:field="*{boardSmallArea}" placeholder="소분류">
		</div>
		<div>
			<input th:field="*{boardContent}" placeholder="게시글 내용을 작성하세요.">
		</div>
	</form>
</body>
</html>