<!-- templates/fragments/sidebar.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="sidebar">
        <div class="sidebar">
            <ul>
                <li><a href="/user/mypage/change-pwd" th:href="@{/user/change-password}">비밀번호 변경</a></li>
                <li><a href="/user/mypage/my-post" th:href="@{/user/my-posts}">내 계시글 보기</a></li>
                <li><a href="/user/mypage/secession" th:href="@{/user/withdrawal}">탈퇴</a></li>
            </ul>
        </div>
    </div>
</body>
</html>