<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/user/pwdCheckPage.css" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
	<div class="ineer-container">
		<div class="inner">
			<div class="pwd-inner">
				<input type="password" placeholder="비밀번호">
			</div>
			<div class="btn-inner">
				<button type="button">확인</button>
				<button type="button">취소</button>
			</div>
		</div>
	</div>
</div>


</body>
</html>